*{
    margin: 0;
    padding: 0;
}
body{
    background-color: grey;
}
.card{
    border: 2px solid rgb(0, 0, 0);
    width: 20vw;
    height: 50vh;
    padding: 10px;
    margin: auto;
    align-items: center;
    justify-content: center;
    text-align: center;
    overflow: scroll;
    display: none;
}
.card img{
    width: 200px;
    height: 200px;   
}
.user{
    position: absolute;
    top: 60%;
    left: 35%;
    border: 2px solid black;
    width: 30vw;
    height: 20vh;
    text-align: center;
    align-content: center;
    padding: 10px;
}
.inp{
    font-size: 30px;
    border-radius: 5px;
}
.btn{
    font-size: 20px;
    background-color: black;
    color: white;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
}

/* responsive for mobile */
@media screen and (max-width: 600px){
    .card{
        width: 65vw;
        height: 45vh;
        position: absolute;
        top: 10%;
        left: 17%;
    }
    .user{
        width: 80vw;
        height: 20vh;
        position: absolute;
        top: 70%;
        left: 12%;
    }
    .inp{
        font-size: 20px;
    }
}
